<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Website</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/static" th:text="#{menu.home}">Home</a></li>
            <li><a href="#" th:text="#{menu.electronics}">Electronics</a>
                <ul>
                    <li th:each="electronic : ${electronics}">
                        <a th:href="@{/electronics/{id}(id=${electronic.id})}" th:text="${electronic.name}"></a>
                    </li>
                </ul>
            </li>
            <li><a href="/about" th:text="#{menu.about}">About</a></li>
            <li><a href="/contact" th:text="#{menu.contact}">Contact</a></li>
        </ul>
    </nav>
</header>
</body>
</html>
