<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
    <link th:href="@{/css/registration.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <form th:action="@{/register}" method="post" class="form-signin">
        <h2 class="form-signin-heading">Register</h2>
        <label>
            <input type="text" name="username" class="form-control" placeholder="Username" required="true" autofocus="true" th:required="true"/>
        </label>
        <label>
            <input type="password" name="rawPassword" class="form-control" placeholder="Password" required="true" th:required="true"/>
        </label>
        <label>
            <input type="text" name="email" class="form-control" placeholder="Email" required="true" autofocus="true" th:required="true"/>
        </label>
        <label>
            <input type="text" name="firstName" class="form-control" placeholder="First Name" required="true" th:required="true"/>
        </label>
        <label>
            <input type="text" name="lastName" class="form-control" placeholder="Last Name" required="true" th:required="true"/>
        </label>
        <label>
            <input type="date" name="birthDate" class="form-control" placeholder="Birth date" required="true" th:required="true"/>
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
</div>
</body>
</html>
