<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link th:href="@{/css/user.css}" rel="stylesheet"/>
</head>
<body>
<h1>Registration Form</h1>
<form action="#" th:action="@{/users}" th:object="${user}" method="post">
    <div>
        <label for="username">Username:
            <input type="text" id="username" name="username" th:value="*{username}"/>
        </label>
    </div>
    <div>
        <label for="firstName">First Name:
            <input type="text" id="firstName" name="firstName" th:value="*{firstName}"/>
        </label>
    </div>
    <div>
        <label for="lastName">Last Name:
            <input type="text" id="lastName" name="lastName" th:value="*{lastName}"/>
        </label>
    </div>
    <div>
        <label for="email">Email:
            <input type="email" id="email" name="email" th:value="*{email}"/>
        </label>
    </div>
    <div>
            <input type="hidden" id="enabled" name="enabled" value="true"/>
    </div>
<!--    <div>-->
<!--        <label for="password">Password:-->
<!--            <input type="password" id="password" th:value="*{password}"/>-->
<!--        </label>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="confirmPassword">Confirm Password:-->
<!--            <input type="password" id="confirmPassword" th:value="*{confirmPassword}" class="form-input"/>-->
<!--        </label>-->
<!--    </div>-->
    <button type="submit">Register</button>
</form>
</body>
</html>
