<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="/css/header.css" th:href="@{/css/header.css}">
</head>
<body>
<header>
    <div class="logo">
<!--        <a href="#"><img src="/images/logo.png" alt="Logo"></a>-->
    </div>
<!--    <div class="search">-->
<!--        <form action="#" method="get">-->
<!--            <input type="text" name="search" placeholder="Search...">-->
<!--            <button type="submit"><i class="fas fa-search"></i></button>-->
<!--        </form>-->
<!--    </div>-->
    <nav class="header-nav">
        <ul class="menu-list">
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/admin/main}">Admin main</a></li>
            <li><a th:href="@{/users}">Users</a></li>
            <li><a th:href="@{/admin/orders}">Orders</a></li>
            <li><a th:href="@{/admin/products}">Products</a></li>
<!--            <li><a href="#">Cart</a></li>-->
<!--            <li><a href="#">Contacts</a></li>-->
<!--            <li>-->
<!--                <form th:action="@{/login}">-->
<!--                    <button type="submit">Login</button>-->
<!--                </form>-->
<!--&lt;!&ndash;                <a href="#">Login</a>&ndash;&gt;-->
<!--            </li>-->
            <li>
                <form action="/logout" method="post">
                    <button type="submit">Logout</button>
                </form>
<!--                <a href="/logout">Logout</a>-->
            </li>
            <li class="dropdown">
<!--                <a href="#">More</a>-->
<!--                <ul>-->
<!--                    <li><a href="#">Car Electronics</a></li>-->
<!--                    <li><a href="#">Portable Audio &amp; Video</a></li>-->
<!--                    <li><a href="#">Cell Phones &amp; Accessories</a></li>-->
<!--                    <li><a href="#">Headphones</a></li>-->
<!--                    <li><a href="#">Smart Home</a></li>-->
<!--                </ul>-->
            </li>
        </ul>
    </nav>
</header>
</body>
</html>