<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="/css/header.css" th:href="@{/css/header.css}">
</head>
<body>
<header>
    <div class="logo">
    </div>
    <nav class="header-nav">
        <ul class="menu-list">
            <li><a th:href="@{/}" th:text="#{header.home}">Home</a></li>
            <li><a th:href="@{/admin/main}" th:text="#{header.adminPage}">Admin main</a></li>
            <li><a th:href="@{/users}" th:text="#{header.users}">Users</a></li>
            <li><a th:href="@{/admin/orders}" th:text="#{header.orders}">Orders</a></li>
            <li><a th:href="@{/admin/products}" th:text="#{header.products}">Products</a></li>

            <li sec:authorize="isAnonymous()">
                <a th:href="@{/login}" th:text="#{header.login}">Login</a>
            </li>

            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}" th:text="#{header.logout}">Logout</a>
            </li>
            <!--            <li>-->
            <!--                <a href="?lang=en">EN</a><br>-->
            <!--                <a href="?lang=ru">RU</a>-->
            <!--            </li>-->

            <li>
                <label>
                    <select onchange="changeLanguage(this.value)" id="languageSelect">
                        <option value="en" selected>EN</option>
                        <option value="ru">RU</option>
                    </select>
                </label>
            </li>

            <script>
                var selectedLanguage = localStorage.getItem('selectedLanguage');
                if (selectedLanguage) {
                    document.getElementById('languageSelect').value = selectedLanguage;
                }

                function changeLanguage(language) {
                    localStorage.setItem('selectedLanguage', language);
                    window.location.search = "?lang=" + language;
                }
            </script>
            <li class="dropdown"></li>
        </ul>
    </nav>
</header>
</body>
</html>