<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Create</title>
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
    <!--    <link th:href="@{/css/user.css}" rel="stylesheet"/>-->
</head>
<body>
<div class="login-container">
    <form th:action="@{/admin/products/new}" method="post" th:object="${product}" class="login-form">
        <div style="color: red" th:if="${param.error}">
            Bad credentials
        </div>
        <h2 class="login-header">Create product</h2>

        <label for="username">Username:
            <input type="text" id="username" name="username" th:value="*{username}"/>
        </label><br>
        <label for="firstName">First Name:
            <input type="text" id="firstName" name="firstName" th:value="*{firstName}"/>
        </label><br>
        <label for="lastName">Last Name:
            <input type="text" id="lastName" name="lastName" th:value="*{lastName}"/>
        </label><br>
        <label for="email">Email:
            <input type="email" id="email" name="email" th:value="*{email}"/>
        </label><br>
        <input type="hidden" id="enabled" name="enabled" value="true"/>
        <button class="login-submit" type="submit">Register</button>
    </form>
</div>
</body>
</html>
