<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product create</title>
    <link th:href="@{/css/user.css}" rel="stylesheet"/>
</head>
<body>
<!--<div th:if="${errors}">-->
<!--    <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>-->
<!--</div>-->
<!--    <form th:action="@{admin/products/{productId}/update(productId=${product.id})}" method="post" th:object="${product}">-->
<!--<form th:action="@{/admin/products/{productId}/update(productId=${product.id})}" method="post" th:object="${product}">-->
<form th:action="@{/admin/products}" method="post" th:object="${product}" enctype="multipart/form-data"
      class="login-form">

    <table>
        <thead>
        <tr>
            <th colspan="2">Create new product</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Product name:</td>
            <td>
                <label for="name">
                    <input id="name" type="text" name="name" th:value="*{name}" required>
                </label>
            </td>
        </tr>
        <tr>
            <td>Product description:</td>
            <td>
                <label for="description">
                    <input id="description" type="text" name="description" th:value="*{description}" required>
                </label>
            </td>
        </tr>
        <tr>
            <td>Product price:</td>
            <td>
                <label for="price">
                    <input id="price" type="number" name="price" th:value="*{price}" min="0.00" max="10000.00"
                           step="0.01" required>
                </label>
            </td>
        </tr>
        <tr>
            <td>Product quantity:</td>
            <td>
                <label for="quantity">
                    <input id="quantity" type="number" name="quantity" th:value="*{quantity}" required>
                </label>
            </td>
        </tr>
        <tr>
            <td>Product category:</td>
            <td>
                <label for="category">
                    <select name="categoryId" id="category">
                        <option th:each="category : ${categories}" th:text="${category.name}"
                                th:value="${category.id}">Category
                            <!--                                th:value="${category.id}" th:selected="${category.id == product.category.id}">Category-->
                        </option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Product producer:</td>
            <td>
                <label for="producer">
                    <select name="producerId" id="producer">
                        <option th:each="producer : ${producers}" th:text="${producer.name}"
                                th:value="${producer.id}">Producer
                            <!--                                th:value="${producer.id}" th:selected="${producer.id == product.producer.id}">Producer-->
                        </option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Product image:</td>
            <td>
                <label for="image">
                    <input id="image" type="file" name="image" required>
                </label>
            </td>
        </tr>
        </tbody>
    </table>
    <button type="submit" class="submit">Create</button>
    <div th:if="${errors}">
        <div style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error Message</div>
    </div>
</form>


</body>
</html>
