<div class="pagination">
    <form action="/admin/products" method="get">
        <input type="hidden" name="name" th:value="${filter.name}"/>
        <input type="hidden" name="price" th:value="${filter.price}"/>
        <input type="hidden" name="categoryId" th:value="${filter.categoryId}"/>
        <input type="hidden" name="producerId" th:value="${filter.producerId}"/>
        <input type="hidden" name="sortField" th:value="${sortField}"/>
        <input type="hidden" name="sortDirection" th:value="${sortDirection}"/>
        <input type="hidden" name="size" th:value="${page.size}"/>

        <!-- Previous page button -->
        <div th:if="${page.number > 0}" class="page">
            <button type="submit" name="page" th:value="${page.number - 1}" aria-label="Previous">
                <span aria-hidden="true">Prev</span>
<!--                <span aria-hidden="true">&laquo; Prev</span>-->
            </button>
        </div>

        <!-- First page button -->
        <div th:if="${page.number >= 5}" class="page">
            <button type="submit" name="page" th:value="0">0</button>
            <span>&hellip;</span>
        </div>

        <!-- Middle page buttons -->
        <div th:with="start=${page.number - 2 < 0 ? 0 : page.number - 2},
              end=${page.number + 2 > page.totalPages - 1 ? page.totalPages - 1 : page.number + 2}" class="page">
            <div th:each="i : ${#numbers.sequence(start, end)}" class="page">
                <button type="submit" name="page" th:value="${i}" th:text="${i}" th:class="${i == page.number ? 'active' : ''}"></button>
            </div>
        </div>



        <!-- Last page button -->
        <div th:if="${page.number <= page.totalPages - 6}" class="page">
            <span>&hellip;</span>
            <button type="submit" name="page" th:value="${page.totalPages - 1}"
                    th:text="${page.totalPages - 1}"></button>
        </div>

        <!-- Next page button -->
        <div th:if="${page.number < page.totalPages - 1}" class="page">
            <button type="submit" name="page" th:value="${page.number + 1}" aria-label="Next">
                <span aria-hidden="true">Next</span>
<!--                <span aria-hidden="true">Next &raquo;</span>-->
            </button>
        </div>
    </form>
</div>
<style>
    .pagination {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .pagination .page {
        display: inline-block;
        margin: 0 5px;
    }

    .pagination__item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 5px;
    }

    .pagination button {
        font-size: 16px;
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #fff;
        color: #555;
        cursor: pointer;
    }

    .pagination button.active {
        background-color: #007bff;
        color: #fff;
        border-color: #007bff;
    }

    .pagination button[aria-label="Previous"]::before {
        content: '\2190\0020';
    }

    .pagination button[aria-label="Next"]::after {
        content: '\0020\2192';
    }
</style>



