<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link th:href="@{/css/user.css}" rel="stylesheet"/>
</head>
<body>
<div th:include="admin/header.html"></div>
<!--    <form th:action="@{admin/products/{productId}/update(productId=${product.id})}" method="post" th:object="${product}">-->
<form th:action="@{/admin/products/{productId}/update(productId=${product.id})}" method="post" th:object="${product}">

    <table>
        <thead>
        <tr>
            <th colspan="2">Product Details</th>
        </tr>
        </thead>
        <tbody>
<!--        <tr>-->
<!--            <td>Product image:</td>-->
<!--            <td>-->
<!--                <div th:if="${product.image}" class="product-details-image">-->
<!--                    <img th:src="@{/api/v1/products/{id}/image(id=${product.id})}" alt="Image" height="200">-->
<!--                </div>-->
<!--            </td>-->
<!--        </tr>-->

<!--        <tr>-->
<!--            <td>Change image:</td>-->
<!--            <td><input id="image" type="file" name="image" th:value="*{image}"></td>-->
<!--        </tr>-->
        <tr>
            <td>Product id:</td>
            <td>
                <span th:text="${product.id}"/>
            </td>
        </tr>
        <tr>
            <td>Product name:</td>
            <td>
                <label for="name">
                    <input id="name" type="text" name="name" th:value="*{name}" required>
                </label>
            </td>
        </tr>
        <tr>
            <td>Product description:</td>
            <td>
                <label for="description">
                    <input id="description" type="text" name="description" th:value="*{description}" required>
                </label>
            </td>
        </tr>
        <tr>
            <td>Product price:</td>
            <td>
                <label for="price">
                    <input id="price" type="number" name="price" th:value="*{price}" min="0.00" max="10000.00"
                           step="0.01" required>
                </label>
            </td>
        </tr>
        <tr>
            <td>Product description:</td>
            <td>
                <label for="quantity">
                    <input id="quantity" type="number" name="quantity" th:value="*{quantity}" required>
                </label>
            </td>
        </tr>
        <tr>
            <td>Product category:</td>
            <td>
                <label for="category">
                    <select name="categoryId" id="category">
                        <option th:each="category : ${categories}" th:text="${category.name}"
                                th:value="${category.id}" th:selected="${category.id == product.category.id}">Category
                        </option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Product producer:</td>
            <td>
                <label for="producer">
                    <select name="producerId" id="producer">
                        <option th:each="producer : ${producers}" th:text="${producer.name}"
                                th:value="${producer.id}" th:selected="${producer.id == product.producer.id}">Producer
                        </option>
                    </select>
                </label>
            </td>
        </tr>
        </tbody>
    </table>
    <button type="submit" class="submit">Update</button>
</form>
<br>
<form th:action="@{/admin/products/{productId}/delete(productId=${product.id})}" method="post">
    <button type="submit" class="submit">Delete</button>
</form>

</body>
</html>
