<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="/css/header.css" th:href="@{/css/header.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.3.0/css/all.min.css"
          integrity="sha384-jS61CjYPX8+ZKjz4cNU4h4FzLtfESjO7Cqce3YAG00JHsojXpZvm0VBLf0GyJ7Rk" crossorigin="anonymous">



</head>
<body>
<header>
    <div class="logo">
        <div th:if="${#authentication.isAuthenticated()}">
            <p>Hello, <span th:text="${#authentication.name}"></span>!</p>
        </div>
        <!--        <div>-->
        <!--            <h3>Welcome, <span th:text="${session.currentUserName}"></span>!</h3>-->
        <!--            <h3>Welcome, <span th:text="${session.userCart}"></span>!</h3>-->
        <!--        </div>-->
    </div>

        <div class="search">
            <form action="#" method="get">
                <input type="text" name="name" th:value="${filter.name}" placeholder="Search...">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
<!--            <label for="name">-->
<!--                <input id="name" type="text" name="name" th:value="${filter.name}" placeholder="Search...">-->
<!--            </label>-->
        </div>

    <nav class="header-nav">
        <ul class="menu-list">

            <li>
                <a th:href="@{/products}">Home</a>
            </li>

            <li sec:authorize="!hasAuthority('ADMIN')">
                <a th:href="@{/cart/{id}(id=${session.cartId})}">Cart</a>
                (<span th:text="${session.cartSize}"></span>)
            </li>


            <li sec:authorize="hasAuthority('ADMIN')">
                <a th:href="@{/admin/main}">Admin page</a>
            </li>

            <li sec:authorize="isAnonymous()">
                <a th:href="@{/login}">Login</a>
            </li>

            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}">Logout</a>
            </li>

            <li sec:authorize="hasAuthority('USER')">
                <a th:href="@{/user/edit}">Config</a>
            </li>

            <li class="dropdown">
            </li>
        </ul>
    </nav>
</header>
</body>
</html>
