<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Config</title>
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
</head>
<body>
<div th:include="header.html"></div>
<div class="login-container">
    <form th:action="@{/user/edit/password}" method="post" class="login-form">
        <div th:if="${error}">
            <ul>
                <li th:text="${error}" style="color: red"></li>
            </ul>
        </div>

        <h2 class="login-header">Update user information</h2>

        <label for="rawPassword">Password:
            <input type="password" id="rawPassword" name="rawPassword"/>
        </label><br>
        <label for="matchingPassword">Repeat password:
            <input type="password" id="matchingPassword" name="matchingPassword"/>
        </label><br>
        <button class="login-submit" type="submit">Update password</button>
    </form>
</div>
</body>
</html>
