<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
    <!--    <link th:href="@{/css/user.css}" rel="stylesheet"/>-->
</head>
<body>
<div th:include="header.html"></div>
<div class="login-container">
    <form th:action="@{/user/user-edit}" method="post" class="login-form">
<!--        <div style="color: red" th:if="${param.error}">-->
<!--            Bad credentials-->
<!--        </div>-->
        <div th:if="${userErrors}">
            <ul>
                <li th:each="error : ${userErrors}">
                    <span th:text="${error.defaultMessage}" style="color: red"></span>
                </li>
            </ul>
        </div>
        <div th:if="${userInformationErrors}">
            <ul>
                <li th:each="error : ${userInformationErrors}">
                    <span th:text="${error.defaultMessage}" style="color: red"></span>
                </li>
            </ul>
        </div>

        <h2 class="login-header">Registration</h2>

        <label for="username">Username:
            <input type="text" id="username" name="username" th:value="${user.username}" required/>
        </label><br>
        <label for="rawPassword">Password:
            <input type="password" id="rawPassword" name="rawPassword" required/>
        </label><br>
        <label for="email">Email:
            <input type="email" id="email" name="email" th:value="${user.email}" required/>
        </label><br>
        <label for="firstName">First Name:
            <input type="text" id="firstName" name="firstName" th:value="${userInformation.firstName}"/>
        </label><br>
        <label for="lastName">Last Name:
            <input type="text" id="lastName" name="lastName" th:value="${userInformation.lastName}"/>
        </label><br>
        <label for="birthDate">Birthdate:
            <input type="date" id="birthDate" name="birthDate" th:value="${userInformation.birthDate}"/>
        </label><br>
        <label for="phone">Phone:
            <input type="tel" id="phone" name="phone" th:value="${userInformation.phone}"/>
        </label><br>
        <label for="address">Address:
            <input type="text" id="address" name="address" th:value="${userInformation.address}"/>
        </label><br>
        <input type="hidden" id="enabled" name="enabled" value="true"/>
        <input type="hidden" id="role" name="role" value="USER"/>
        <button class="login-submit" type="submit">Register</button>
    </form>
</div>
</body>
</html>
