<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Amazon Electronics</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<section class="menu">
  <h1>Our Products</h1>
  <ul>
    <li th:each="product : ${products}">
      <a th:href="@{'/product/' + ${product.id}}">
        <img th:src="@{'/img/' + ${product.image}}" alt=""/>
        <h2 th:text="${product.name}"></h2>
        <p th:text="${product.description}"></p>
        <span th:text="${product.price}"></span>
      </a>
    </li>
  </ul>
</section>
</body>
</html>
