body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.cart-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    padding: 30px;
    text-align: center;
    width: 80%;
}

.cart-header {
    /*color: #333;*/
    /*font-size: 28px;*/
    /*margin-bottom: 30px;*/


    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #232f3e;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    z-index: 3;
    flex-direction: row;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
}

.cart-table th, .cart-table td {
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

.cart-table th {
    font-weight: bold;
    background-color: #f2f2f2;
}

.cart-table td {
    border-bottom: 1px solid #ddd;
}

.cart-image {
    display: inline-block;
    max-width: 50px;
    max-height: 50px;
}

.cart-quantity {
    display: flex;
    align-items: center;
}

.cart-quantity input[type="number"] {
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) inset;
    font-size: 16px;
    padding: 10px;
    margin-right: 10px;
    width: 50px;
}

.cart-total {
    font-weight: bold;
}

.cart-actions {
    display: flex;
    justify-content: flex-end;
}

.cart-actions form {
    display: inline-block;
    margin-left: 10px;
}

.cart-actions button {
    background-color: #232f3e;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    transition: background-color 0.2s;
}

.cart-actions button:hover {
    background-color: #334868;
}

.cart-total-price {
    font-size: 20px;
    margin-top: 20px;
}

.cart-make-order {
    margin-top: 20px;
}

.cart-table-inform {
    margin: 0 auto;
}


/*.cart-make-order button {*/
/*    background-color: #232f3e;*/
/*    border: none;*/
/*    border-radius: 3px;*/
/*    color: #fff;*/
/*    cursor: pointer;*/
/*    font-size: 18px;*/
/*    padding: 10px;*/
/*    transition: background-color 0.2s;*/
/*}*/

.cart-make-order button:hover {
    background-color: #334868;
}

.cart-make-order button {
    background-color:  #232f3e;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    transition: background-color 0.2s;
    width: 50%;
}