.footer {
    background-color: #f4f4f4;
    padding: 0 20px;
    font-family: Arial, sans-serif;
    font-size: x-small;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    max-height: 75px;
}


.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-col {
    flex-basis: 30%;
    margin-bottom: 30px;
}

.footer-col h4 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-col ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-col li {
    margin-bottom: 10px;
}

.footer-col a {
    color: #666;
    text-decoration: none;
    font-size: 14px;
}

.footer-col a:hover {
    text-decoration: underline;
}

.footer-col-address p {
    margin-top: 20px;
}

.text-center {
    text-align: center;
}
