/* Global styles */
body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
}

th {
    text-align: left;
    /*background-color: #343a40;*/
    background-color: #232f3e;
    color: #fff;
    padding: 8px;
}

td {
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Form styles */
form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
textarea {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-bottom: 10px;
}

input[type="submit"] {
    /*background-color: #343a40;*/
    background-color: #232f3e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #292d31;
}

/* Confirmation page styles */
p {
    font-size: 18px;
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
}

/* Total price styles */
.total-price {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.total-price strong {
    font-weight: bold;
    /*color: #343a40;*/
    color: #334868;
}
