body {
    font-family: Arial, sans-serif;
}

.product-details {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 100px;
}

.product-details__left {
    display: flex;
    flex-direction: column;
}

.product-details__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.product-details-name {
    font-size: 26px;
    font-style: initial;
}

.product-details-price {
    font-size: 25px;
    font-style: initial;
}

.product-name {
    font-size: 24px;
    margin-bottom: 20px;
}

.product-price {
    font-size: 30px;
    margin-bottom: 20px;
}

.product-description {
    font-size: 18px;
    margin-bottom: 20px;
}

.product-image {
    width: 400px;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 20px;
}

.product-container {
    display: flex;
    justify-content: center;
}

button {
    background-color:  #232f3e;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    transition: background-color 0.2s;
    width: 100%;
}

button:hover {
    background-color: #334868;
}

