table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border: 2px solid #ddd;
    font-family: Arial, sans-serif;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: small;
}

th {
    /*background-color: #f2f2f2;*/
    background-color: #232f3e;
    font-weight: bold;
    color: #fff;
}

input[type="text"], input[type="email"], input[type="date"], input[type="radio"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type="radio"] {
    margin-right: 10px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="submit"]:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.submit {
    background-color:  #232f3e;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    transition: background-color 0.2s;
    width: 50%;
    margin: 0 auto;
    display: block;

}