<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Shopping Cart</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/cartNew.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body class="body">
<!-- Include header -->
<div th:include="header.html"></div>


<!--<div th:if="${param.message}" class="alert alert-danger" role="alert">-->
<!--    <span th:text="${param.message}"></span>-->
<!--</div>-->

<!--<div th:if="${param.error}" class="alert alert-danger" role="alert">-->
<!--    <span th:text="${param.error}"></span>-->
<!--</div>-->

<!--<div th:if="${not #strings.isEmpty(error)}" class="alert alert-danger">-->
<div th:if="${message}" class="alert alert-danger">
    <!--    [[${error}]]-->
    <!--        <span th:text="${param.error}"></span>-->
    <span th:text="${message}"></span>
</div>

<!--<div th:if="${message}" class="alert alert-warning">-->
<!--    <p th:text="${message}"></p>-->
<!--</div>-->


<div class="cart-container">
    <h1 class="cart-header" th:text="#{cart.header}">Shopping Cart</h1>

    <table class="cart-table">
        <thead>
        <tr>
            <!--            <th class="product-name">id</th>-->
            <th class="product-name"></th>
            <th class="product-name" th:text="#{cart.productName}">Product</th>
            <th class="product-description" th:text="#{cart.productDescription}">Product description</th>
            <th class="product-price" th:text="#{cart.productPrice}">Price</th>
            <th class="product-quantity" th:text="#{cart.productQuantity}">Quantity</th>
            <th class="product-total" th:text="#{cart.productTotal}">Total</th>
            <th class="product-action" th:text="#{cart.productAction}">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cartItem : ${cartItems}" class="cart-item">
            <!--            <td class="product-name" th:text="${cartItem.id}"></td>-->
            <td>
                <div th:if="${cartItem.product.image}" class="product-image">
                    <img th:src="@{/api/v1/products/{id}/image(id=${cartItem.product.id})}" alt="image" height="50">
                </div>
            </td>
            <td class="product-name" th:text="${cartItem.product.name}"></td>
            <td class="product-description" th:text="${cartItem.product.description}"></td>
            <td class="product-price" th:text="${cartItem.product.price}"></td>
            <td class="product-quantity">
                <form method="post" th:action="@{/cart/update}">
                    <input type="number" name="quantity" class="quantity-input" th:value="${cartItem.quantity}" min="1">
                    <input type="hidden" name="cartItemId" th:value="${cartItem.id}">
                    <button type="submit" class="quantity-update-button" th:text="#{cart.updateButton}">Update</button>
                </form>
            </td>
            <td class="product-total" th:text="${cartItem.product.price * cartItem.quantity}"></td>
            <td class="product-action">
                <form method="post" th:action="@{/cart/remove}">
                    <input type="hidden" name="cartItemId" th:value="${cartItem.id}">
                    <button type="submit" class="product-remove-button" th:text="#{cart.removeButton}">Remove</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <!--    <div class="cart-total">-->
    <div th:if="${!cartItems.empty}" class="cart-make-order">
        <h3 th:text="#{cart.total}">Total:</h3>
        <span class="cart-total-price" th:text="${totalPrice}"></span>
        <form method="post" action="/order" class="checkout-form">
            <br>
            <div class="cart-table-inform">
                <label for="inform" style="align-items: center" th:text="#{cart.information}">Put your additional information:</label>
                <br>
                <textarea id="inform" name="inform" type="text" rows="15" cols="60"
                          th:placeholder="#{cart.informationPlaceholder}"></textarea>
            </div>
            <button type="submit" class="cart-make-order" th:text="#{cart.makeOrder}">Make Order</button>
        </form>
    </div>
    <br>
    <th:block th:if="${cartItems.empty}">
        <h2 th:text="#{cart.emptyCart}">Your cart is empty</h2>
    </th:block>

</div>
</body>
</html>
