<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Shopping Cart</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/cart.css}">
</head>
<body>
<div th:include="header.html"></div>
<h1>Shopping Cart</h1>
<!--<form th:action="@{/cart/order}" method="post">-->
<!--<form th:action="@{/order}" method="post">-->
<form th:action="@{/order/preview}" method="post">
    <table>
        <thead>
        <tr>
            <th></th>
            <th>Product Name</th>
            <th>Product description</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${cartItems}">
            <td>
                <div th:if="${item.product.image}" class="product-image">
                    <img th:src="@{/api/v1/products/{id}/image(id=${item.product.id})}" alt="image" height="50">
                </div>
            </td>
            <td th:text="${item.product.name}"></td>
            <td th:text="${item.product.description}"></td>
            <td>
                <label>
                    <input type="number" th:value="${item.quantity}">
<!--                    <input type="number" name="quantity" value="1">-->
                </label>
            </td>
            <td th:text="${item.product.price}"></td>
            <td>
                <form th:action="@{/cart/delete}" method="post">
                    <input type="hidden" name="itemId" th:value="${item.id}">
                    <button type="submit">Delete</button>
                </form>
            </td>
            <td>
                <input type="hidden" name="cartId" th:value="${session.cartId}">
                <input type="hidden" name="userId" th:value="${session.userId}">
<!--                <input type="hidden" name="userInformation" th:value="${session.userInformation}">-->
                <input type="hidden" name="orderStatus" value="PENDING">
                <label>
                    <input type="checkbox" th:name="selectedItems" th:value="${item.id}">
                </label>
            </td>
        </tr>
        </tbody>
        <tbody>
        <tr>
            <td>
                <label style="align-items: center">
                    <textarea name="inform" type="text" rows="15" cols="60"></textarea>
                </label>
            </td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/cart/deleteAll}" method="post">
        <button type="submit">Delete All</button>
    </form>
    <button type="submit">Make order</button>
</form>
</body>
</html>
