<footer class="footer">
    <div class="footer-container">
        <div class="footer-row">
            <div class="footer-col footer-col-links">
                <h2>Links</h2>
                <ul class="footer-list-horizontal">
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="/faq">FAQ</a></li>
                </ul>
            </div>
            <div class="footer-col footer-col-follow">
                <h2>Follow Us</h2>
                <ul class="footer-list-horizontal">
                    <!--                    <li><a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a></li>-->
                    <li><a href="https://www.facebook.com">facebook</a></li>
                    <li><a href="https://www.twitter.com">twitter</a></li>
                    <li><a href="https://www.instagram.com">instagram</a></li>
                </ul>
            </div>
            <div class="footer-col footer-col-address">
                <h2>Address</h2>
                <p>123 Main Street Minsk, Belarus 12345</p>
            </div>
        </div>
        <div class="footer-row">
            <!--            <div class="footer-col footer-col-copyright">-->
            <!--                <hr>-->
            <!--                <p class="text-center">Copyright &copy; 2023-->
            <!--                    <a href="/">My Website</a>-->
            <!--                </p>-->
            <!--            </div>-->
            <!--        </div>-->
        </div>
    </div>
</footer>
