<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Links</h4>
        <ul>
          <li><a th:href="@{/about}">About Us</a></li>
          <li><a th:href="@{/contact}">Contact Us</a></li>
          <li><a th:href="@{/faq}">FAQ</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Follow Us</h4>
        <ul>
          <li><a th:href="@{https://www.facebook.com}">Facebook</a></li>
          <li><a th:href="@{https://www.twitter.com}">Twitter</a></li>
          <li><a th:href="@{https://www.instagram.com}">Instagram</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Address</h4>
        <p th:text="${address}">123 Main Street<br>Anytown, USA 12345</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
        <p class="text-center">Copyright &copy; 2023
          <a th:href="@{/}">My Website</a>
        </p>
      </div>
    </div>
  </div>
</footer>
