<footer class="footer">
    <div class="footer-container">
        <div class="footer-row">
            <div class="footer-col footer-col-links">
                <h2>Links</h2>
                <ul class="footer-list-horizontal">
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="/faq">FAQ</a></li>
                </ul>
            </div>
            <div class="footer-col footer-col-follow">
                <h2>Follow Us</h2>
                <ul class="footer-list-horizontal">
                    <!--                    <li><a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a></li>-->
                    <li><a href="https://www.facebook.com">facebook</a></li>
                    <li><a href="https://www.twitter.com">twitter</a></li>
                    <li><a href="https://www.instagram.com">instagram</a></li>
                </ul>
            </div>
            <div class="footer-col footer-col-address">
                <h2>Address</h2>
                <p>123 Main Street Anytown, USA 12345</p>
            </div>
        </div>
        <div class="footer-row">
            <!--            <div class="footer-col footer-col-copyright">-->
            <!--                <hr>-->
            <!--                <p class="text-center">Copyright &copy; 2023-->
            <!--                    <a href="/">My Website</a>-->
            <!--                </p>-->
            <!--            </div>-->
            <!--        </div>-->
        </div>
    </div>
</footer>
<div class="pagination">
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${page.first ? 'disabled' : ''}">
                <a class="page-link"
                   th:href="@{${#httpServletRequest.requestURI}(page=${page.number - 1}, size=${page.size})}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${i == page.number ? 'active' : ''}"
                th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}">
                <a class="page-link"
                   th:href="@{${#httpServletRequest.requestURI}(page=${i}, size=${page.size})}"
                   th:text="${i + 1}"></a>
            </li>
            <li class="page-item" th:classappend="${page.last ? 'disabled' : ''}">
                <a class="page-link"
                   th:href="@{${#httpServletRequest.requestURI}(page=${page.number + 1}, size=${page.size})}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
