<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="/css/header.css" th:href="@{/css/header.css}">
    <script>
        function changeLanguage(lang) {
            var url = window.location.href;
            if (url.indexOf('?') !== -1) {
                url = url.substring(0, url.indexOf('?'));
            }
            window.location.href = url + '?lang=' + lang;
        }

    </script>

</head>
<body>
<header>
    <div class="logo">
        <div th:if="${#authentication.isAuthenticated()}">
            <p th:text="#{header.hello}">Hello,
            </p>
            <p>
                <span th:text="${#authentication.name}"></span>!
            </p>
        </div>
    </div>

    <nav class="header-nav">
        <ul class="menu-list">

            <li>
                <a th:href="@{/products}" th:text="#{header.home}">Home</a>
            </li>

            <li sec:authorize="!hasAuthority('ADMIN')">
                <a th:href="@{/cart/{id}(id=${session.cartId})}" th:text="#{header.cart}">Cart</a>
                (<span th:text="${session.cartSize}"></span>)
            </li>

            <li sec:authorize="hasAuthority('ADMIN')">
                <a th:href="@{/admin/main}" th:text="#{header.adminPage}">Admin page</a>
            </li>

            <li sec:authorize="isAnonymous()">
                <a th:href="@{/login}" th:text="#{header.login}">Login</a>
            </li>

            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}" th:text="#{header.logout}">Logout</a>
            </li>

            <li sec:authorize="hasAuthority('USER')">
                <a th:href="@{/user/edit}" th:text="#{header.config}">Config</a>
            </li>
            <li>
                <a href="?lang=en">EN</a><br>
                <a href="?lang=ru">RU</a>
            </li>
            <!--            <li>-->
            <!--                <label>-->
            <!--                    <select onchange="changeLanguage(this.value)">-->
            <!--                        <option value="en" selected>EN</option>-->
            <!--                        <option value="ru">RU</option>-->
            <!--                    </select>-->
            <!--                </label>-->
            <!--            </li>-->


            <li>
                <label>
                    <select onchange="changeLanguage(this.value)" id="languageSelect">
                        <option value="en" selected>EN</option>
                        <option value="ru">RU</option>
                    </select>
                </label>
            </li>

            <script>
                var selectedLanguage = localStorage.getItem('selectedLanguage');
                if (selectedLanguage) {
                    document.getElementById('languageSelect').value = selectedLanguage;
                }

                function changeLanguage(language) {
                    localStorage.setItem('selectedLanguage', language);
                    window.location.search = "?lang=" + language;
                }
            </script>


            <li class="dropdown">
            </li>
        </ul>
        <!--        <label>-->
        <!--            <select onchange="location = this.value;">-->
        <!--                <option th:selected="${#locale.language == 'en'}" th:value="'/?lang=en'">English</option>-->
        <!--                <option th:selected="${#locale.language == 'ru'}" th:value="'/?lang=ru'">Русский</option>-->
        <!--            </select>-->
        <!--        </label>-->
        <!--        <div class="language-switcher">-->
        <!--            <form th:action="@{/change-language}" method="post">-->
        <!--                <label>-->
        <!--                    <select name="lang">-->
        <!--                        <option value="en" th:selected="${#locale.language == 'en'}">English</option>-->
        <!--                        <option value="ru" th:selected="${#locale.language == 'ru'}">Русский</option>-->
        <!--                    </select>-->
        <!--                </label>-->
        <!--                &lt;!&ndash;                <button type="submit">OK</button>&ndash;&gt;-->
        <!--            </form>-->
        <!--        </div>-->
        <!--        <div class="language-switcher">-->
        <!--            <form th:action="@{/language}" method="post">-->
        <!--                <select name="language" onchange="this.form.submit()">-->
        <!--                    <option value="en" th:selected="${#locale.language == 'en'}">English</option>-->
        <!--                    <option value="ru" th:selected="${#locale.language == 'ru'}">Русский</option>-->
        <!--                </select>-->
        <!--            </form>-->
        <!--        </div>-->
        <!--        <ul class="language-list">-->
        <!--            <li><a href="?lang=en">English</a></li>-->
        <!--            <li><a href="?lang=ru">Русский</a></li>-->
        <!--        </ul>-->
    </nav>
</header>
</body>
</html>
