<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Menu</title>
    <link rel="stylesheet" href="/css/menu.css"/>
</head>
<body>
<nav>
    <ul class="menu-list">
        <li><a href="/">Home</a></li>
        <li class="menu-dropdown">
            <input type="checkbox" id="categories" class="menu-checkbox"/>
            <label for="categories" class="menu-label">Categories</label>
            <ul class="menu-dropdown-list">
                <li th:each="type : ${categories}">
                    <input type="checkbox" id="${type}" name="category" th:value="${type}" class="menu-checkbox"/>
                    <label for="${type}" th:text="${type}" class="menu-label"></label>
                </li>
            </ul>
        </li>
    </ul>
</nav>
</body>
</html>
