<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Preview</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/order.css}">
</head>
<body>
<div th:include="header.html"></div>
<div class="container">
    <h1 th:text="#{order.preview}">Order Preview</h1>
    <h2 th:text="#{order.details}">Order Details</h2>
    <table>
        <tr>
            <th th:text="#{order.productName}">Product Name</th>
            <th th:text="#{order.productQuantity}">Quantity</th>
            <th th:text="#{order.productPrice}">Price</th>

        </tr>
        <tr th:each="orderItem : ${orderItems}">
            <td th:text="${orderItem.product.name}"></td>
            <td th:text="${orderItem.quantity}"></td>
            <td th:text="${orderItem.product.price}"></td>
        </tr>
    </table>
    <br>
    <h2 th:text="#{order.productTotalPrice}">Total Price</h2>
    <table>

        <tr>
            <td th:text="${totalPrice}" style="color: darkred"></td>
        </tr>
    </table>
    <br>

    <h3 th:text="#{order.inform}">Additional Information</h3>
    <br>
    <table>
        <tr>
            <td th:text="${order.inform}"></td>
        </tr>
    </table>

    <h2 th:text="#{order.userInformation}">User Information</h2>

    <form method="post" th:action="${updateUserInformationUrl}">
        <div th:if="${errors}">
            <ul>
                <li th:each="error : ${errors}">
                    <span th:text="${error.defaultMessage}" style="color: red"></span>
                </li>
            </ul>
        </div>
        <input type="hidden" th:field="${userInformation.id}">
        <label for="firstName" th:text="#{userInformation.firstName}">First Name:</label>
        <input type="text" id="firstName" name="firstName" th:field="${userInformation.firstName}">
        <br>
        <label for="lastName" th:text="#{userInformation.lastName}">Last Name:</label>
        <input type="text" id="lastName" name="lastName" th:field="${userInformation.lastName}">
        <br>
        <label for="phone" th:text="#{userInformation.phone}">Phone:</label>
        <input type="tel" id="phone" name="phone" th:field="${userInformation.phone}">
        <br><br>
        <label for="address" th:text="#{userInformation.address}">Address:</label>
        <input type="text" id="address" name="address" th:field="${userInformation.address}">
        <br>
        <label for="birthDate"></label>
        <input type="hidden" id="birthDate" name="birthDate" th:value="${userInformation.birthDate}">
        <br>
        <input type="submit" th:value="#{order.updateUserInformation}">
    </form>

    <form method="post" th:action="${finishOrderUrl}">
        <input type="hidden" th:field="${order.id}">
        <input type="submit"  th:value="#{order.finishOrder}">
    </form>
</div>
</body>
</html>
