<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Shopping Cart</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/cart.css}">
</head>
<body>
<div th:include="header.html"></div>
<h1>Shopping Cart</h1>
<!--<form th:action="@{/cart/order}" method="post">-->
<!--<form th:action="@{/order}" method="post">-->

<table>
    <thead>
    <tr>
        <th></th>
        <th>Product Name</th>
        <th>Product description</th>
        <th>Quantity</th>
        <th>Price</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${cartItems}">
        <td>
            <div th:if="${item.product.image}" class="product-image">
                <img th:src="@{/api/v1/products/{id}/image(id=${item.product.id})}" alt="image" height="50">
            </div>
        </td>
        <td th:text="${item.product.name}"></td>
        <td th:text="${item.product.description}"></td>
        <td th:text="${item.quantity}"></td>
        <td th:text="${item.product.price}"></td>
        <td>
            <input type="hidden" name="cartId" th:value="${session.cartId}">
            <input type="hidden" name="orderStatus" value="PENDING">
        </td>
    </tr>
    </tbody>
</table>
<table>
    <tr>
        <td>
            <label>
                <textarea name="inform" th:text="${inform}"></textarea>
            </label>
        </td>
    </tr>
</table>

<form th:action="@{/order}" method="post">

    <table>

        <tr>
            <td>
                <button type="submit">Finish order</button>
            </td>
        </tr>
    </table>

<!--    <br>-->
<!--    <div>-->
<!--        <button type="submit">Finish order</button>-->
<!--    </div>-->

    <!--    <label>-->
    <!--        <input type="text" value="text">-->
    <!--    </label>-->

</form>


</body>
</html>
