    <div class="pagination">
        <form action="/products" method="get">
            <input type="hidden" name="name" th:value="${filter.name}"/>
            <input type="hidden" name="price" th:value="${filter.price}"/>
            <input type="hidden" name="sortField" th:value="${sortField}"/>
            <input type="hidden" name="sortDirection" th:value="${sortDirection}"/>
            <input type="hidden" name="size" th:value="${page.size}"/>

            <div th:if="${page.number > 0}" style="display: inline-block;">
                <button type="submit" name="page" th:value="${page.number - 1}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </button>
            </div>

            <div th:each="i : ${#numbers.sequence(0, page.totalPages-1)}" style="display: inline-block;">
                <button type="submit" name="page" th:value="${i}" th:text="${i+1}"
                        th:class="${i==page.number ? 'active' : ''}"></button>
            </div>

            <div th:if="${page.number < page.totalPages-1}" style="display: inline-block;">
                <button type="submit" name="page" th:value="${page.number + 1}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </button>
            </div>
        </form>
    </div>
