<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
</head>

<body>

<!-- Include header -->
<div th:include="header.html"></div>

<!-- Include menu -->
<div class="menu">
    <div th:include="menu.html"></div>
</div>

<!-- Display all products -->
<div class="container">
    <div class="product-grid">
        <table>
            <thead>
            <tr>
                <th><a th:href="@{/products(name=${filter.name}, price=${filter.price}, quantity=${filter.quantity}, sort='category.name,asc')}">Category Name</a></th>
                <th><a th:href="@{/products(name=${filter.name}, price=${filter.price}, quantity=${filter.quantity}, sort='producer.name,asc')}">Producer Name</a></th>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th><a th:href="@{/products(name=${filter.name}, price=${filter.price}, quantity=${filter.quantity}, sort='price,asc')}">Price</a></th>
            </tr>
            </thead>
            <tbody>
            <div class="product-items" th:each="product : ${products}">
                <tr class="product">
                    <td th:text="${product.category.name}"></td>
                    <td th:text="${product.producer.name}"></td>
                    <td><img th:src="${product.image}" height="100"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.description}"></td>
                    <td th:text="${product.price}"></td>
                    <td>
                        <!-- Link to product details page -->
                        <a th:href="@{/products/{id}(id=${product.id})}" class="btn btn-primary" role="button">Show</a>
                    </td>
                </tr>
            </div>
            </tbody>
        </table>
    </div>

</div>

<!-- include the footer -->
<!--<div th:include="/footer"></div>-->
<footer th:replace="footer :: footer"></footer>
</body>

</html>
