<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
</head>
<body>

<!-- Include header -->
<div th:include="products/header.html"></div>

<!-- Include menu -->
<!--<div class="menu">-->
<!--    <div th:include="menu.html"></div>-->
<!--</div>-->


<!-- Include filter -->
<div th:include="filter.html"></div>

<!-- Display all products -->
    <br>
    <div class="product-grid">
        <div class="product-items" th:each="product : ${page.content}">
            <div class="product">
                <div th:if="${product.image}" class="product-image">
                    <img th:src="@{/api/v1/products/{id}/image(id=${product.id})}" alt="Image" height="200">
                </div>
                <div class="product-info">
                    <div class="product-name" th:text="${product.name}"></div>
                    <div class="product-description" th:text="${product.description}"></div>
                    <div class="product-price" th:text="${product.price}"></div>

                    <!-- Link to product details page -->
                    <div class="product-action">
                        <a th:href="@{/products/{id}(id=${product.id})}" class="btn btn-primary" role="button">Show</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div th:include="pagination.html"></div>

<footer th:replace="footer :: footer"></footer>

</body>
</html>
