<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
    <!--    <link th:href="@{/css/user.css}" rel="stylesheet"/>-->
</head>
<body>
<div th:include="header.html"></div>
<div class="login-container">
    <form th:action="@{/users}" method="post" th:object="${user}" class="login-form">
        <div style="color: red" th:if="${param.error}">
            Bad credentials
        </div>
        <h2 class="login-header">Registration</h2>

        <label for="username">Username:
            <input type="text" id="username" name="username" th:value="*{username}"/>
        </label><br>
        <label for="rawPassword">Password:
            <input type="password" id="rawPassword" name="rawPassword"/>
        </label><br>
        <label for="firstName">First Name:
            <input type="text" id="firstName" name="firstName" th:value="*{firstName}"/>
        </label><br>
        <label for="lastName">Last Name:
            <input type="text" id="lastName" name="lastName" th:value="*{lastName}"/>
        </label><br>
        <label for="email">Email:
            <input type="email" id="email" name="email" th:value="*{email}"/>
        </label><br>
        <label for="birthDate">Email:
            <input type="date" id="birthDate" name="birthDate" th:value="*{birthDate}"/>
        </label><br>
        <input type="hidden" id="enabled" name="enabled" value="true"/>
        <input type="hidden" id="role" name="role" value="USER"/>
        <button class="login-submit" type="submit">Register</button>
    </form>
</div>
</body>
</html>
