<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link th:href="@{/css/user.css}" rel="stylesheet"/>
</head>
<body>
<div th:include="admin/header.html"></div>
<table>
    <thead>
    <tr>
        <th>User ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Birthdate</th>
        <th>Enabled</th>
<!--        <th>User Information</th>-->
        <th>Edit User</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.role}"></td>
        <td th:text="${user.userInformation.firstName}"></td>
        <td th:text="${user.userInformation.lastName}"></td>
        <td th:text="${user.userInformation.phone}"></td>
        <td th:text="${user.userInformation.address}"></td>
        <td th:text="${user.userInformation.birthDate}"></td>
<!--        <td th:text="${user.userInformation}"></td>-->

<!--        <td th:each="role : ${roles}">-->
<!--            <label th:for="${role}" th:text="${role}">Role name-->
<!--                <input th:id="${role}" type="radio" name="role" th:value="${role}" th:checked="${role == user.role}">-->
<!--            </label>-->
<!--        </td>-->
        <td th:text="${user.enabled} ? 'True' : 'False'"></td>
        <td>
            <!--            <a th:href="@{/users/{id}/edit(id=${user.id})}">Edit</a>-->
            <a th:href="@{/users/{id}(id=${user.id})}">More info</a>
        </td>
    </tr>
    </tbody>
</table>
<!--<form th:action="@{admin/users/{userId}/delete(userId=${user.id})}" method="post" th:if="${user.role.name() == 'ADMIN'}">-->
<!--<form th:action="@{admin/users/{userId}/delete(userId=${user.id})}" method="post">-->
<!--    <button type="submit" class="submit">Delete</button>-->
<!--</form>-->
</body>
</html>
