<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $.getJSON("/api/v1/users", function(users) {
                var table = $("<table>").appendTo($("#users"));
                var headerRow = $("<tr>").appendTo(table);
                $("<th>").text("ID").appendTo(headerRow);
                $("<th>").text("Name").appendTo(headerRow);
                $("<th>").text("Email").appendTo(headerRow);
                $.each(users, function(index, user) {
                    var row = $("<tr>").appendTo(table);
                    $("<td>").text(user.id).appendTo(row);
                    $("<td>").text(user.name).appendTo(row);
                    $("<td>").text(user.email).appendTo(row);
                });
            });
        });
    </script>
</head>
<body>
<h1>User List</h1>
<table id="users"></table>
</body>
</html>
