<!DOCTYPE html>
<html lang="en">
<head>
    <title>Users</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1>Users</h1>
<!-- Include header -->
<div th:include="header.html"></div>
<table id="usersTable">
    <thead>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $.ajax({
            url: "/api/v1/users",
            type: "GET",
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    var user = data[i];
                    var row = $("<tr>");
                    row.append($("<td>" + user.id + "</td>"));
                    row.append($("<td>" + user.username + "</td>"));
                    row.append($("<td>" + user.email + "</td>"));
                    $("#usersTable").append(row);
                }
            },
            error: function () {
                alert("Ошибка при загрузке списка пользователей");
            }
        });
    });
</script>

</body>
</html>
